<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uwb_tag">
    <xacro:macro name="uwb_tag" params="tag_num parent *joint_pose">
    
        <link name="uwb_tag_${tag_num}_link">
    
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://oarbot_description/meshes/custom/Decawave.stl"/>
                </geometry>
                <material name="white" />
            </visual>
    
            <collision>
                <origin xyz="0 -0.013 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.05 0.026 0.102"/>
                </geometry>
            </collision>
    
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.1"/>
                <inertia
                ixx="1.0" ixy="0" ixz="0"
                iyy="1.0" iyz="0"
                izz="1.0"/>
            </inertial>
    
        </link>
    
        <joint name="uwb_tag_${tag_num}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="uwb_tag_${tag_num}_link" />
            <xacro:insert_block name="joint_pose" />
        </joint>
    
    </xacro:macro>
</robot>