[Unit]
Description=Launch OARBot Blue ROS2 Nodes
Wants=network-online.target
After=network-online.target xorg-headless.service
Requires=xorg-headless.service

[Service]
Type=simple
User=oarbot_blue
ExecStart=/usr/local/bin/oarbot_blue_helper_laptop_launch.sh
Restart=on-failure
RestartSec=5

KillMode=control-group
TimeoutStopSec=10
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target